_site/*
_theme_packages/*
_drafts/*
_posts/interest/*
_posts/personal/*
_posts/professional/*
_posts/travel/*
_posts/vehicle/*

Thumbs.db
.DS_Store
Gemfile.lock

!.gitkeep

.rbenv-version
.rvmrc
.jekyll-metadata
jekyll-serve.sh

*.*~

